@import '../styles/Reset.scss';
@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

                
html {
    background: linear-gradient(45deg, rgb(55,55,55)  60% , rgb(83, 83, 83));
}
.app {
    display: grid;
    place-items: center;
    font-family: 'Garamond', serif;

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }
}

.footer-arrow {
    color:rgba(210, 210, 210, 0.596);
    border-radius:0;
    position:fixed;
    padding: 3rem 1.5rem;
    bottom: 2rem;
    right: 2rem;
    font-size: 4rem;
    transition-property: color;
    cursor: pointer;
    transition-duration: 200ms;
    text-align: center;
    transform: scale(0.9);

    &:hover{
        color: white;
    }
    
    &:active {
        color:rgb(255, 255, 255);
    }

    @media all and (max-width: 600px) {
        transform: scale(1.5);
    }
}

.header{
    display: grid;  
    place-items: center;
    padding: 5rem;      

    &-logo{
        width: 80%;        
    }
}

.footer {
    font-size: 1.9rem;
    text-align: center;
    padding: 10rem 10rem 5rem 10rem;
    color: rgba(255, 255, 255, 0.525);
    

    &-link {
        text-decoration:underline;
    }
}
