
.card-detail-item {
    color:  rgb(239, 235, 220);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:  0 5%;
    max-width: 50rem;
    background-image: linear-gradient(45deg, rgb(70, 70, 70), rgb(39, 39, 39));
    box-shadow: 0.25rem 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    
    
    &-img{
        border: black 2px solid;
        margin: 1rem;
        width: 100%;
        aspect-ratio: 1/1.35;
        display: block;
        object-fit: cover;
    }

    &-name {
        font-size: 4rem;
        grid-column: 2/3;
        grid-row: 0;
        justify-self: end;
        align-self: center;
        grid-row: 0;
        z-index: 1;
    }
    &-species{
        font-size: 1.8rem;
        grid-column: 2/3;
        grid-row: 0;
        text-transform: capitalize
    }
    &-emblem{        
        aspect-ratio: 1/1;
        width: 70%;
        object-fit: contain;
        grid-column: 3;
        grid-row: -1;
        align-self: end;
        justify-self: end;
    }
    &-patronus{
        font-size: 1.8rem;
        grid-column: 2/3;
        grid-row: 0;
        text-transform: capitalize;
    }
    &-alias {
        font-size: 1.8rem;
        grid-column: 2/3;
        grid-row: 0;
        text-transform: capitalize;
    }

}

.button-back{
    padding: 1rem 3rem;
    background: transparent;
    font-weight: 900;
    color: rgb(239, 235, 220);
    border-radius: 0.5rem;
    border: solid 0.35rem rgb(239, 235, 220);
    transition-duration: 200ms;
    &:hover{
        background: rgba(239, 235, 220, 0.164) ;
    }
    &:active{
        background-color: rgba(255, 255, 255, 0.266);
        transform: scale(0.95);
    }
    &-icon{
        padding: 0 1rem 0 0;
        font-weight: 900;
    }
}