@import '../styles/Reset.scss';

.list-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 0.5rem;
    position: relative;
    padding: 2rem 15rem;
    transition: all ease-in-out 100ms ;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        padding: 10rem;
        margin: 0 ;
      }

    @media (max-width: 400px) {
        padding: 2.5rem
        
    }
}

.card-item {
    color: rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    border-radius:  .5rem;
    margin: 0.5rem;
    padding: 1rem;
    list-style: none;
    
    box-shadow: 0.25rem 0.5rem 0.75rem rgba(0, 0, 0, 0.5);

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

    

    &:hover{
        transform: scale(1.05);
        transform: rotate(-1deg);
        z-index: 2;
        box-shadow: 0.35rem 0.65rem 1.5rem rgba(0, 0, 0, 0.7);
    }

    &:active{
        transform: scale(0.99);
        filter: brightness(1.25);
    }

    &-name {
        text-align: left;
        text-transform: uppercase;
        position: relative;
        font-size: 2rem;
        order: 0;
        width: 4ch

    }

    &-img {
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: top;
        display: block;
        width: 100%;
        clip-path: polygon(0% 0%, 84% 0%, 100% 15%, 100.3% 100.3%, 84.8% 100.3%, 4.1% 100.3%, 0% 100.3%, 0% 17%); 
        
    }

    &-emblem{        
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: contain;
        grid-column: 3;
        grid-row: span 2;
    
    }

    &-species{
        text-transform: capitalize;
        font-size: 1.6rem;
        order: 2;
        grid-row:  2;
    }
    
      
}

 .info-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr ;
    background: rgb(163, 158, 133);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 1.5rem;
    min-height: 10.5rem;
}

.result {
    &-counter{
        font-size: 2.5rem;
        text-align: center;
        margin-top: 10rem;
        color: rgb(239, 235, 220);
    }
    &-error{
        text-align: center;
        font-size: 5rem;
        grid-column: span 3;
        grid-row: 5;
    }
}