html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; 
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}